$primary: #1379D7;
$gray: #BABABA;

@mixin box-shadow-default() {
  -webkit-box-shadow: 0 1px 12px -4px rgba(0,0,0,0.25);
  -moz-box-shadow: 0 1px 12px -4px rgba(0,0,0,0.25);
  box-shadow: 0 1px 12px -4px rgba(0,0,0,0.25);
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body { font-family: 'Suwannaphum', serif; }
li { list-style: none; }
a {
  color: #fff;
  text-decoration: none;
}

.hidden { display: none; }

//*************
//   HEADER
//*************
@media only screen and (min-width: 0px) {
  header {
    padding: 15px 5vw;
    background-color: $primary;
    @include box-shadow-default();
    
    > div {
      display: flex;
      align-items: center;
    }

    .logo {
      width: 28px;
      height: 28px;
      margin-right: 10px;
    }

    form {
      position: relative;
      margin-right: 22px;
      
      input {
        max-width: 210px;
        padding: 1px 8px;
        font-size: 0.9rem;
        font-family: 'Suwannaphum', serif;
        border: none;
        border-radius: 3px;
      }

      img {
        position: absolute;
        top: 50%;
        right: 6px;
        transform: translateY(-50%);
      }
    }

    .quick-links { display: none; }

    .settings-icon {
      margin-left: auto;
    }
  }
}
@media only screen and (min-width: 768px) {
  header {
    padding: 22px 6vw;

    .logo {
      width: 36px;
      height: 36px;
      margin-right: 20px;
    }

    form {
      input {
        max-width: 250px;
        font-size: 1rem;
      }
    }

    .settings-icon {
      width: 28px;
      height: 28px;
    }
  }
}
@media only screen and (min-width: 1024px) {
  header {
    padding-left: 0;
    padding-right: 0;

    > div {
      max-width: 1000px;
      margin: 0 auto;
    }

    .logo {
      width: 48px;
      height: 48px;
    }

    form {
      input {
        max-width: 350px;
        padding: 5px 12px;
        font-size: 1.2rem;
      }
    }

    .quick-links {
      display: block;
      margin-left: auto;
      font-size: 1.4rem;
      
      ul {
        display: flex;
        
        li {
          margin-right: 65px;
        }
      }
    }

    .settings-icon {
      width: 36px;
      height: 36px;
    }
  }
}
@media only screen and (min-width: 1440px) {
  header {
    > div {
      max-width: clamp(1000px, 63.5vw, 1440px);
    }
  }
}

//*************
//    MAIN
//*************

//************************************
//     CURRENT / UPCOMING WEATHER
//************************************

@media only screen and (min-width: 0px) {
  #current-upcoming-weather {
    padding: 20px 14px 60px;

    .current-weather {
      margin-bottom: 20px;

      .time-location {
        width: fit-content;
        margin-left: auto;
        font-size: 1.2rem;
        text-align: right;
        
        p:first-child { margin-bottom: -10px; }
        span { font-size: 0.75rem; }
      }
    }
    
    > div:nth-child(1) {
      width: 100%;
      text-align: center;

      .current-temp {
        position: relative;
        width:fit-content;
        margin: -15px auto 0;

        img {
          position: absolute;
          top: -18px;
          left: -70px;
          width: 76px;
          height: 76px;
        }

        h2 {
          font-size: 0.8rem;

          span { font-size: 4.5rem; }
        }
      }

      .temp-details {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: -30px;
        margin-bottom: 10px;
        font-size: 0.8rem;

        p:first-child { flex: 1 1 100%; }
        p:nth-child(2) { margin-right: 20px; }
      }

      .weather-conditions {
        max-width: 200px;
        margin: -10px auto 0;

        ul {
          display: flex;
          justify-content: center;
          
          font-size: 0.8rem;
          
          li {
            flex-basis: calc(100% / 3);
            
            img {
              margin-bottom: -12px;
              width: 20px;
              height: 20px;
            }
          }
        }
      } 
    }

    .upcoming-weather {
      max-width: 593px;
      margin: 0 auto;
      padding: 8px 10px;
      border-radius: 8px;
      @include box-shadow-default();

      h2 {
        margin-bottom: 10px;
        font-size: 0.9rem;
        text-align: center;
      }

      > div {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        text-align: center;
      }

      .upcoming-container {
        flex-basis: 33.3%;

        &:first-child { padding-right: 10px; }
        &:nth-child(2) {
          padding-left: 10px;
          padding-right: 10px;
          border-left: 1px solid $gray;
          border-right: 1px solid $gray;
        }
        &:last-child {
          padding-left: 10px;
        }

        div:first-child {
          position: relative;
          width:fit-content;
          margin: 0 auto;

          img {
            position: absolute;
            top: -5px;
            left: -20px;
            width: 20px;
            height: 20px;
          }

          p { font-size: 1.2rem; }
        }

        li {
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 0.6rem;
        
          img {
            width: 16px;
            height: 16px;
            margin-right: 5px;
          }
        }
      }

      .time {
        p {
          font-size: 0.6rem;

          span { font-size: 1rem; }
        }
      }
    }
  }
}
@media only screen and (min-width: 768px) {
  #current-upcoming-weather {
    padding: 25px 75px;

    .current-weather {
      margin-bottom: 60px;

      .time-location {
        font-size: 2rem;
        
        p:first-child { margin-bottom: -15px; }
        span { font-size: 1rem; }
      }
    } 

    > div:nth-child(1) {
      .current-temp {
        img {
          top: -20px;
          left: -110px;
          width: 112px;
          height: 112px;
        }

        h2 {
          font-size: 1.6rem;
          span { font-size: 7rem; }
        }
      }

      .temp-details {
        margin-bottom: 40px;
        font-size: 1.2rem;

        p:first-child { margin-bottom: 10px; }
        p:nth-child(2) { margin-right: 50px; }
      }

      .weather-conditions {
        max-width: 275px;

        ul {
          font-size: 1rem;
          
          li {
            img {
              width: 28px;
              height: 28px;
            }
          }
        }
      }
    }

    .upcoming-weather {
      max-width: 800px;
      padding: 25px 10px;

      h2 {
        margin-bottom: 36px;
        font-size: 1.5rem;
      }

      > div {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        text-align: center;
      }

      .upcoming-container {
        div:first-child {
          img {
            left: -35px;
            width: 36px;
            height: 36px;
          }

          p { font-size: 2.5rem; }
        }

        li {
          font-size: 1rem;
        
          img {
            width: 20px;
            height: 20px;
          }
        }
      }

      .time {
        p {
          font-size: 0.8rem;

          span { font-size: 1.5rem; }
        }
      }
    }
  }
}
@media only screen and (min-width: 1024px) {
  #current-upcoming-weather {
    display: flex;
    justify-content: center;
    max-width: clamp(1000px, 63.5vw, 1440px);
    margin: 120px auto;
    padding: 0;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    @include box-shadow-default();

    .current-weather {
      flex: 1 1 50%;
      margin: 0;
      padding: 25px 35px 0 85px;
    }

    > div:nth-child(1) {
      .current-temp { margin-bottom: 10px; }

      .temp-details {
        margin-bottom: 75px;

        p:first-child { margin-bottom: 15px; }
        p:nth-child(2) { margin-right: 65px; }
      }
    }

    .upcoming-weather {
      flex: 1 1 50%;
      padding: 30px 70px;
      color: #fff;
      background-color: $primary;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      box-shadow: none;

      h2 { text-align: center; }

      > div {
        flex-direction: column;

        .upcoming-container {
          flex-basis: 100%;
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          align-items: center;

          &:first-child { padding: 0 0 30px; }
          &:nth-child(2) {
            padding: 30px 0;
            border: none;
            border-top: 1px solid #fff;
            border-bottom: 1px solid #fff;
          }
          &:last-child { padding: 30px 0 0; }

          div:first-child {
            img { left: -35px; }
          }

          ul {
            display: flex;
            li {
              display: flex;
              align-items: center;
              margin-right: 10px;
            }
          }

          .time {
            flex: 1 1 100%;
            justify-content: center;
          }
        }
      }
    }
  }
}

// *********************
//     DAILY WEATHER
// *********************
@media only screen and (min-width: 0px) {
  #daily-weather {
    display: none;
    padding-bottom: 60px;
  }
}
@media only screen and (min-width: 768px) {

}
@media only screen and (min-width: 1024px) {

}
@media only screen and (min-width: 1440px) {
}

// *********************
//     5 DAY WEATHER
// *********************
@media only screen and (min-width: 0px) {
  #next-5-days-weather {
    display: none;
    padding-bottom: 60px;
  }
}
@media only screen and (min-width: 768px) {

}
@media only screen and (min-width: 1024px) {

}
@media only screen and (min-width: 1440px) {

}

//*************
//   FOOTER
//*************

@media only screen and (min-width: 0px) {
  footer {
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 6px 0 3px;
    font-size: 0.75rem;
    text-align: center;
    color: #fff;
    background-color: $primary;

    img {
      width: 24px;
      height: 24px;
      margin-bottom: -8px;
    }

    #active-tab {
      border-bottom: 2px solid #fff;
    }
  }
}
@media only screen and (min-width: 768px) {
  footer {
    padding: 10px 0 6px;
    font-size: 1rem;

    img {
      width: 36px;
      height: 36px;
    }
  }
}
@media only screen and (min-width: 1024px) {
  footer {
    display: none;
  }
}
