*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Suwannaphum", serif;
}

li {
  list-style: none;
}

a {
  color: #fff;
  text-decoration: none;
}

.hidden {
  display: none;
}

@media only screen and (min-width: 0px) {
  header {
    padding: 15px 5vw;
    background-color: #1379D7;
    -webkit-box-shadow: 0 1px 12px -4px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 1px 12px -4px rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 12px -4px rgba(0, 0, 0, 0.25);
  }
  header > div {
    display: flex;
    align-items: center;
  }
  header .logo {
    width: clamp(28px, 6vw, 36px);
    height: clamp(28px, 6vw, 36px);
    margin-right: 10px;
  }
  header form {
    position: relative;
    margin-right: 22px;
  }
  header form input {
    max-width: 210px;
    padding: 1px 8px;
    font-size: clamp(0.9rem, 2.6vw, 1rem);
    font-family: "Suwannaphum", serif;
    border: none;
    border-radius: 3px;
  }
  header form img {
    position: absolute;
    top: 50%;
    right: 6px;
    transform: translateY(-50%);
  }
  header .quick-links {
    display: none;
  }
  header .settings-icon {
    margin-left: auto;
    width: clamp(20px, 4.6vw, 28px);
    height: clamp(20px, 4.6vw, 28px);
  }
}
@media only screen and (min-width: 768px) {
  header {
    padding: 22px 6vw;
  }
  header .logo {
    width: clamp(36px, 5vw, 48px);
    height: clamp(36px, 5vw, 48px);
    margin-right: 20px;
  }
  header form input {
    max-width: 250px;
    font-size: clamp(1rem, 2vw, 1.2rem);
  }
  header .settings-icon {
    width: clamp(32px, 4vw, 36px);
    height: clamp(32px, 4vw, 36px);
  }
}
@media only screen and (min-width: 1024px) {
  header {
    padding-left: 0;
    padding-right: 0;
  }
  header > div {
    max-width: 1000px;
    margin: 0 auto;
  }
  header form input {
    max-width: 350px;
    padding: 5px 12px;
  }
  header .quick-links {
    display: block;
    margin-left: auto;
    font-size: 1.4rem;
  }
  header .quick-links ul {
    display: flex;
  }
  header .quick-links ul li {
    margin-right: 65px;
  }
}
@media only screen and (min-width: 1440px) {
  header > div {
    max-width: clamp(1000px, 63.5vw, 1440px);
  }
}
@media only screen and (min-width: 0px) {
  #current-upcoming-weather {
    padding: 20px 14px 60px;
  }
  #current-upcoming-weather .current-weather {
    margin-bottom: 20px;
  }
  #current-upcoming-weather .current-weather .time-location {
    width: fit-content;
    margin-left: auto;
    font-size: clamp(1.2rem, 4.2vw, 2rem);
    text-align: right;
  }
  #current-upcoming-weather .current-weather .time-location p:first-child {
    margin-bottom: -10px;
  }
  #current-upcoming-weather .current-weather .time-location span {
    font-size: clamp(0.75rem, 2.4vw, 1rem);
  }
  #current-upcoming-weather > div:first-child > div:nth-child(2) {
    width: 100%;
    margin-top: 8vh;
    text-align: center;
  }
  #current-upcoming-weather > div:first-child > div:nth-child(2) .current-temp {
    position: relative;
    width: fit-content;
    margin: -15px auto 0;
  }
  #current-upcoming-weather > div:first-child > div:nth-child(2) .current-temp img {
    position: absolute;
    top: -18px;
    right: clamp(110px, 24.8vw, 180px);
    width: clamp(76px, 15.4vw, 112px);
    height: clamp(76px, 15.4vw, 112px);
  }
  #current-upcoming-weather > div:first-child > div:nth-child(2) .current-temp h2 {
    font-size: clamp(1rem, 3.4vw, 1.6rem);
  }
  #current-upcoming-weather > div:first-child > div:nth-child(2) .current-temp h2 .temp {
    font-size: clamp(4.5rem, 15vw, 7rem);
  }
  #current-upcoming-weather > div:first-child > div:nth-child(2) .temp-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: -30px;
    margin-bottom: 25px;
    font-size: clamp(0.8rem, 2.8vw, 1.2rem);
  }
  #current-upcoming-weather > div:first-child > div:nth-child(2) .temp-details p:first-child {
    flex: 1 1 100%;
  }
  #current-upcoming-weather > div:first-child > div:nth-child(2) .temp-details p:nth-child(2) {
    margin-right: 20px;
  }
  #current-upcoming-weather > div:first-child > div:nth-child(2) .weather-conditions {
    max-width: clamp(250px, 51vw, 400px);
    margin: -10px auto 0;
  }
  #current-upcoming-weather > div:first-child > div:nth-child(2) .weather-conditions ul {
    display: flex;
    justify-content: center;
    font-size: clamp(0.8rem, 2.8vw, 1rem);
  }
  #current-upcoming-weather > div:first-child > div:nth-child(2) .weather-conditions ul li {
    flex-basis: 33.3333333333%;
  }
  #current-upcoming-weather > div:first-child > div:nth-child(2) .weather-conditions ul li img {
    margin-bottom: -12px;
    width: clamp(20px, 4.4vw, 28px);
    height: clamp(20px, 4.4vw, 28px);
  }
  #current-upcoming-weather .upcoming-weather {
    max-width: 593px;
    margin: 10vh auto 0;
    padding: 8px 10px;
    border-radius: 8px;
    -webkit-box-shadow: 0 1px 12px -4px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 1px 12px -4px rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 12px -4px rgba(0, 0, 0, 0.25);
  }
  #current-upcoming-weather .upcoming-weather h2 {
    margin-bottom: 10px;
    font-size: clamp(0.9rem, 3.6vw, 1.5rem);
    font-weight: 400;
    text-align: center;
  }
  #current-upcoming-weather .upcoming-weather > div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
  }
  #current-upcoming-weather .upcoming-weather .upcoming-container {
    flex-basis: 33.3%;
  }
  #current-upcoming-weather .upcoming-weather .upcoming-container:first-child {
    padding-right: 10px;
  }
  #current-upcoming-weather .upcoming-weather .upcoming-container:nth-child(2) {
    padding-left: 10px;
    padding-right: 10px;
    border-left: 1px solid #BABABA;
    border-right: 1px solid #BABABA;
  }
  #current-upcoming-weather .upcoming-weather .upcoming-container:last-child {
    padding-left: 10px;
  }
  #current-upcoming-weather .upcoming-weather .upcoming-container div:first-child {
    position: relative;
    width: fit-content;
    margin: 0 auto;
  }
  #current-upcoming-weather .upcoming-weather .upcoming-container div:first-child img {
    position: absolute;
    top: -5px;
    left: -20px;
    width: 20px;
    height: 20px;
  }
  #current-upcoming-weather .upcoming-weather .upcoming-container div:first-child p {
    font-size: clamp(1.2rem, 4.4vw, 1.5rem);
  }
  #current-upcoming-weather .upcoming-weather .upcoming-container li {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: clamp(0.6rem, 2.4vw, 1rem);
  }
  #current-upcoming-weather .upcoming-weather .upcoming-container li img {
    width: 16px;
    height: 16px;
    margin-right: 5px;
  }
  #current-upcoming-weather .upcoming-weather .time p {
    font-size: clamp(0.6rem, 3.4vw, 0.8rem);
  }
  #current-upcoming-weather .upcoming-weather .time p span {
    font-size: clamp(1rem, 3.4vw, 1.5rem);
  }
  #current-upcoming-weather .upcoming-weather .light-icon {
    display: none;
  }
}
@media only screen and (min-width: 768px) {
  #current-upcoming-weather {
    padding: 25px 75px 100px;
  }
  #current-upcoming-weather .current-weather {
    margin-bottom: 60px;
  }
  #current-upcoming-weather .current-weather .time-location p:first-child {
    margin-bottom: -15px;
  }
  #current-upcoming-weather > div:first-child > div:nth-child(2) {
    margin-top: 0;
  }
  #current-upcoming-weather > div:first-child > div:nth-child(2) .temp-details {
    margin-bottom: 50px;
  }
  #current-upcoming-weather > div:first-child > div:nth-child(2) .temp-details p:first-child {
    margin-bottom: 10px;
  }
  #current-upcoming-weather > div:first-child > div:nth-child(2) .temp-details p:nth-child(2) {
    margin-right: 50px;
  }
  #current-upcoming-weather > div:first-child > div:nth-child(2) .weather-conditions {
    max-width: 400px;
  }
  #current-upcoming-weather .upcoming-weather {
    max-width: 800px;
    margin-top: 0;
    padding: 25px 10px;
  }
  #current-upcoming-weather .upcoming-weather h2 {
    margin-bottom: 36px;
  }
  #current-upcoming-weather .upcoming-weather > div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
  }
  #current-upcoming-weather .upcoming-weather .upcoming-container div:first-child img {
    left: -35px;
    width: 36px;
    height: 36px;
  }
  #current-upcoming-weather .upcoming-weather .upcoming-container li img {
    width: 20px;
    height: 20px;
  }
  #current-upcoming-weather .upcoming-weather .time p > span {
    font-size: 1.5rem;
  }
}
@media only screen and (min-width: 1024px) {
  #current-upcoming-weather {
    display: flex;
    justify-content: center;
    max-width: clamp(1000px, 90vw, 1440px);
    margin: 120px auto;
    padding: 0;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    -webkit-box-shadow: 0 1px 12px -4px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 1px 12px -4px rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 12px -4px rgba(0, 0, 0, 0.25);
  }
  #current-upcoming-weather .current-weather {
    flex: 1 1 50%;
    margin: 0;
    padding: 25px 35px 0 85px;
  }
  #current-upcoming-weather > div:first-child > div:nth-child(2) .current-temp {
    margin-bottom: 10px;
  }
  #current-upcoming-weather > div:first-child > div:nth-child(2) .temp-details {
    margin-bottom: 75px;
  }
  #current-upcoming-weather > div:first-child > div:nth-child(2) .temp-details p:first-child {
    margin-bottom: 15px;
  }
  #current-upcoming-weather > div:first-child > div:nth-child(2) .temp-details p:nth-child(2) {
    margin-right: 65px;
  }
  #current-upcoming-weather .upcoming-weather {
    flex: 1 1 50%;
    margin-top: 0;
    padding: 50px 70px;
    color: #fff;
    background-color: #1379D7;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    box-shadow: none;
  }
  #current-upcoming-weather .upcoming-weather h2 {
    text-align: center;
  }
  #current-upcoming-weather .upcoming-weather > div {
    flex-direction: column;
  }
  #current-upcoming-weather .upcoming-weather > div .upcoming-container {
    flex-basis: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }
  #current-upcoming-weather .upcoming-weather > div .upcoming-container:first-child {
    padding: 0 0 30px;
  }
  #current-upcoming-weather .upcoming-weather > div .upcoming-container:nth-child(2) {
    padding: 30px 0;
    border: none;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
  }
  #current-upcoming-weather .upcoming-weather > div .upcoming-container:last-child {
    padding: 30px 0 0;
  }
  #current-upcoming-weather .upcoming-weather > div .upcoming-container div:first-child {
    flex-basis: 30%;
  }
  #current-upcoming-weather .upcoming-weather > div .upcoming-container div:first-child img {
    left: -25px;
  }
  #current-upcoming-weather .upcoming-weather > div .upcoming-container ul {
    display: flex;
    flex-basis: 70%;
  }
  #current-upcoming-weather .upcoming-weather > div .upcoming-container ul li {
    display: flex;
    align-items: center;
    margin-right: clamp(10px, 1.4vw, 40px);
  }
  #current-upcoming-weather .upcoming-weather > div .upcoming-container .time {
    flex: 1 1 100%;
    justify-content: center;
  }
  #current-upcoming-weather .upcoming-weather > div .upcoming-container .light-icon {
    display: inline-block;
  }
  #current-upcoming-weather .upcoming-weather > div .upcoming-container .dark-icon {
    display: none;
  }
}
@media only screen and (min-width: 0px) {
  #daily-weather {
    display: none;
    padding: 20px 30px 60px;
  }
  #daily-weather .current-stats {
    margin-bottom: 35px;
    display: flex;
    font-size: clamp(1.2rem, 4.2vw, 2rem);
  }
  #daily-weather .current-stats .current-temp p:first-child {
    margin-bottom: -10px;
    font-size: clamp(0.9rem, 3vw, 1.2rem);
  }
  #daily-weather .current-stats .time-location {
    width: fit-content;
    margin-left: auto;
    text-align: right;
  }
  #daily-weather .current-stats .time-location p:first-child {
    margin-bottom: -10px;
  }
  #daily-weather .current-stats .time-location span {
    font-size: clamp(0.75rem, 2.4vw, 1rem);
  }
  #daily-weather .daily-weather {
    margin: 0 auto;
    max-width: clamp(260px, 79.5vw, 594px);
  }
  #daily-weather .daily-weather h2 {
    margin-bottom: 10px;
    font-size: clamp(1rem, 3.6vw, 1.75rem);
    font-weight: 400;
  }
  #daily-weather .daily-weather .hourly-weather-container .split-daily:last-child > .hourly-weather:last-child {
    border-bottom: none;
  }
  #daily-weather .daily-weather .hourly-weather-container .hourly-weather {
    border-bottom: 1px solid #BABABA;
  }
  #daily-weather .daily-weather .hourly-weather-container .hourly-weather ul {
    display: flex;
    justify-content: space-between;
    padding: 17px 0;
    font-size: clamp(0.8rem, 3vw, 1.2rem);
  }
  #daily-weather .daily-weather .hourly-weather-container .hourly-weather ul li {
    display: flex;
    align-items: center;
  }
  #daily-weather .daily-weather .hourly-weather-container .hourly-weather ul li:first-child {
    flex: 1 1 12.5%;
  }
  #daily-weather .daily-weather .hourly-weather-container .hourly-weather ul li:nth-child(2) {
    flex: 1 1 25%;
    justify-content: center;
  }
  #daily-weather .daily-weather .hourly-weather-container .hourly-weather ul li:nth-child(3) {
    flex: 1 1 18.5%;
  }
  #daily-weather .daily-weather .hourly-weather-container .hourly-weather ul li:nth-child(4) {
    flex: 1 1 40%;
  }
  #daily-weather .daily-weather .hourly-weather-container .hourly-weather ul li:last-child {
    flex: 1 1 5%;
  }
  #daily-weather .daily-weather .hourly-weather-container .hourly-weather ul li img {
    margin-right: 5px;
    width: clamp(16px, 3.6vw, 24px);
    height: clamp(16px, 3.6vw, 24px);
  }
  #daily-weather .daily-weather .hourly-weather-container .hourly-weather img:last-child {
    width: clamp(20px, 4.6vw, 28px);
    height: clamp(20px, 4.6vw, 28px);
  }
  #daily-weather .daily-weather .hourly-weather-container .hourly-weather .am-pm {
    font-size: clamp(0.6rem, 2.2vw, 0.8rem);
  }
}
@media only screen and (min-width: 768px) {
  #daily-weather {
    padding: 40px 75px 100px;
  }
  #daily-weather .current-stats {
    margin-bottom: 100px;
  }
  #daily-weather .current-stats .time-location p:first-child {
    margin-bottom: -15px;
  }
  #daily-weather .daily-weather {
    max-width: clamp(594px, 89vw, 1000px);
  }
  #daily-weather .daily-weather h2 {
    margin-bottom: 20px;
  }
  #daily-weather .daily-weather .hourly-weather-container > .hourly-weather ul {
    padding: 17px 0;
  }
}
@media only screen and (min-width: 1024px) {
  #daily-weather {
    display: block;
    margin-bottom: 120px;
    padding-top: 0;
    padding-bottom: 0;
  }
  #daily-weather .current-stats {
    display: none;
  }
  #daily-weather .daily-weather {
    max-width: clamp(1000px, 99vw, 1440px);
  }
  #daily-weather .daily-weather .hourly-weather-container {
    display: flex;
    justify-content: space-between;
    gap: 60px;
    max-width: 100%;
  }
  #daily-weather .daily-weather .hourly-weather-container .split-daily {
    width: 50%;
  }
  #daily-weather .daily-weather .hourly-weather-container .split-daily .hourly-weather {
    border-bottom: 1px solid #BABABA;
  }
  #daily-weather .daily-weather .hourly-weather-container .split-daily .hourly-weather:last-child {
    border-bottom: none;
  }
}
@media only screen and (min-width: 0px) {
  #next-5-days-weather {
    display: none;
    padding: 20px 30px 60px;
  }
  #next-5-days-weather .current-stats {
    margin-bottom: 35px;
    display: flex;
    font-size: clamp(1.2rem, 4.2vw, 2rem);
  }
  #next-5-days-weather .current-stats .current-temp p:first-child {
    margin-bottom: -10px;
    font-size: clamp(0.9rem, 3vw, 1.2rem);
  }
  #next-5-days-weather .current-stats .time-location {
    width: fit-content;
    margin-left: auto;
    text-align: right;
  }
  #next-5-days-weather .current-stats .time-location p:first-child {
    margin-bottom: -10px;
  }
  #next-5-days-weather .current-stats .time-location span {
    font-size: clamp(0.75rem, 2.4vw, 1rem);
  }
  #next-5-days-weather .next-5-days-weather {
    margin: 0 auto;
    max-width: clamp(260px, 79.5vw, 594px);
  }
  #next-5-days-weather .next-5-days-weather h2 {
    margin-bottom: 10px;
    font-size: clamp(1rem, 3.6vw, 1.75rem);
    font-weight: 400;
  }
  #next-5-days-weather .next-5-days-weather .next-5-days-weather-container .day-weather {
    border-bottom: 1px solid #BABABA;
  }
  #next-5-days-weather .next-5-days-weather .next-5-days-weather-container .day-weather:last-child {
    border-bottom: none;
  }
  #next-5-days-weather .next-5-days-weather .next-5-days-weather-container .day-weather ul {
    display: flex;
    justify-content: space-between;
    padding: 17px 0;
    font-size: clamp(0.8rem, 3vw, 1.2rem);
  }
  #next-5-days-weather .next-5-days-weather .next-5-days-weather-container .day-weather ul li {
    display: flex;
    align-items: center;
  }
  #next-5-days-weather .next-5-days-weather .next-5-days-weather-container .day-weather ul li:first-child {
    flex: 1 1 12.5%;
  }
  #next-5-days-weather .next-5-days-weather .next-5-days-weather-container .day-weather ul li:nth-child(2) {
    flex: 1 1 25%;
    justify-content: center;
  }
  #next-5-days-weather .next-5-days-weather .next-5-days-weather-container .day-weather ul li:nth-child(3) {
    flex: 1 1 18.5%;
    justify-content: center;
  }
  #next-5-days-weather .next-5-days-weather .next-5-days-weather-container .day-weather ul li:nth-child(4) {
    flex: 1 1 40%;
  }
  #next-5-days-weather .next-5-days-weather .next-5-days-weather-container .day-weather ul li:last-child {
    flex: 1 1 5%;
  }
  #next-5-days-weather .next-5-days-weather .next-5-days-weather-container .day-weather ul li img {
    margin-right: 2px;
    width: clamp(16px, 3.6vw, 24px);
    height: clamp(16px, 3.6vw, 24px);
  }
  #next-5-days-weather .next-5-days-weather .next-5-days-weather-container .day-weather img:last-child {
    width: clamp(20px, 4.6vw, 28px);
    height: clamp(20px, 4.6vw, 28px);
  }
}
@media only screen and (min-width: 768px) {
  #next-5-days-weather {
    padding: 40px 75px 100px;
  }
  #next-5-days-weather .current-stats {
    margin-bottom: 100px;
  }
  #next-5-days-weather .current-stats .time-location p:first-child {
    margin-bottom: -15px;
  }
  #next-5-days-weather .next-5-days-weather {
    max-width: clamp(594px, 89vw, 1000px);
  }
  #next-5-days-weather .next-5-days-weather h2 {
    margin-bottom: 20px;
  }
  #next-5-days-weather .next-5-days-weather .next-5-days-weather-container > .day-weather ul {
    padding: 17px 0;
  }
}
@media only screen and (min-width: 1024px) {
  #next-5-days-weather {
    display: block;
    margin-bottom: 120px;
    padding-top: 0;
    padding-bottom: 0;
  }
  #next-5-days-weather .current-stats {
    display: none;
  }
  #next-5-days-weather .next-5-days-weather {
    max-width: clamp(1000px, 99vw, 1440px);
  }
  #next-5-days-weather .next-5-days-weather h2 {
    margin-bottom: 37px;
  }
  #next-5-days-weather .next-5-days-weather .next-5-days-weather-container {
    display: flex;
    justify-content: space-between;
    padding: 35px clamp(50px, 4vw, 120px) 40px;
    border-radius: 8px;
    -webkit-box-shadow: 0 1px 12px -4px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 1px 12px -4px rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 12px -4px rgba(0, 0, 0, 0.25);
  }
  #next-5-days-weather .next-5-days-weather .next-5-days-weather-container .day-weather {
    border-bottom: none;
  }
  #next-5-days-weather .next-5-days-weather .next-5-days-weather-container .day-weather ul {
    flex-direction: column;
    align-items: center;
    padding: 0;
  }
  #next-5-days-weather .next-5-days-weather .next-5-days-weather-container .day-weather ul li {
    margin-bottom: 8px;
  }
  #next-5-days-weather .next-5-days-weather .next-5-days-weather-container .day-weather ul li:first-child {
    order: -1;
    margin-bottom: 15px;
  }
  #next-5-days-weather .next-5-days-weather .next-5-days-weather-container .day-weather ul li:last-child {
    order: -1;
  }
}
@media only screen and (min-width: 0px) {
  footer {
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 6px 0 3px;
    font-size: 0.75rem;
    text-align: center;
    color: #fff;
    background-color: #1379D7;
  }
  footer img {
    width: clamp(24px, 5vw, 36px);
    height: clamp(24px, 5vw, 36px);
    margin-bottom: -8px;
  }
  footer #active-tab {
    border-bottom: 2px solid #fff;
  }
}
@media only screen and (min-width: 768px) {
  footer {
    padding: 10px 0 6px;
    font-size: 1rem;
  }
}
@media only screen and (min-width: 1024px) {
  footer {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
